PORT=3000
APP_NAME="express-ts-ddd"

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

APP_DATABASE_PORT="5432"
APP_DATABASE_USERNAME="webandapp"
APP_DATABASE_PASSWORD="webandapp"
APP_DATABASE="panda"
APP_LOG_LEVEL=""

# Cognito UserPool configuration: https://docs.aws.amazon.com/cognito/latest/developerguide/getting-started-with-cognito-user-pools.html

COGNITO_USER_POOL=""
COGNITO_CLIENT_ID=""
COGNITO_REGION=""


RABBITMQ_USERNAME=""
RABBITMQ_PASSWORD=""
RABBITMQ_VHOST=""
RABBITMQ_HOST_NAME=""
RABBITMQ_PORT=""
RABBITMQ_SECURE=""
RABBITMQ_EXCHANGE_NAME=""
RABBITMQ_MAX_RETRIES=""
RABBITMQ_RETRY_TTL=""
RABBITMQ_MODULE_NAME=""  